@charset "utf-8";

// aside adjust
// $menu-item-color: color
// $menu-item-radius size 
// $menu-item-hover-color: color
// $menu-item-hover-background-color: color
// $menu-item-active-color: color
// $menu-item-active-background-color: color
// $menu-list-border-left: 1px solid $border
// $menu-label-color: color

// Button adjust
$button-color: white;
$link-active: white;
$link-hover: hsl(0, 0%, 86%);
$link-hover-border: black;
$button-border-color: black;

// font
@import url('https://fonts.googleapis.com/css?family=Signika');
$family-sans-serif: "Signika", sans-serif;

// examples
// // Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// // Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// // Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// // Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;
@import "../node_modules/bulma/bulma.sass";
