.landing {
    background-image: url(https://i.ibb.co/MfT5p58/Landing.jpg);
    background-size: cover;
    background-position: center;
}

.landing::before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#3d3f40,#363a18);
    opacity: .6; 
}

img.about {
    margin-top: 20px;
    border-radius: 20px;
}

section.about{
    background-color: rgba(202, 202, 202, 0.19);
    padding: 10px;
    border-radius: 30px
}

p.about {
    margin-top: 10px;
    margin-bottom: 10px;
}