img.profileIcon {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

img.project {
	margin-bottom: 10px;
	border: 1px solid black;
	width: 300px;
	height: 200px;
}

img.aboutPic {
	float: left;
	width: 500px;
	height: 500px;
	margin: 10px;
	border-radius: 25px;
}

div.about {
	background-color: rgba(50, 31, 31, 0.2);
	border-radius: 25px;
	padding: 5px;
}

a.express {
	margin-left: 10px;
}

a.live {
	margin-top: 5px;
	margin-bottom: 5px;
}

p.about {
	margin-top: 10px;
	padding: 5px;
	padding-right: 10px;
}